# {{.Name}}

A Go service scaffolded with [gocraft](https://github.com/siyuqian/gocraft).

## Usage

```sh
make run        # run locally
make build      # build binary to bin/{{.Name}}
make test       # run unit tests
make lint       # run golangci-lint
make tidy       # go mod tidy
```
