APP_ADDR=:8080
LOG_LEVEL=info
DATABASE_URL=postgres://{{.Name}}:{{.Name}}@localhost:5432/{{.Name}}?sslmode=disable
{{- if .Sentry}}
SENTRY_DSN=
SENTRY_ENVIRONMENT=development
SENTRY_TRACES_SAMPLE_RATE=
SENTRY_RELEASE=
{{- end}}
