openapi: 3.0.3
info:
  title: {{.Name}}
  version: 0.1.0
paths:
  /healthz:
    get:
      operationId: getHealthz
      responses:
        '200':
          description: ok
  /pets:
    get:
      operationId: listPets
      responses:
        '200':
          description: list
    post:
      operationId: createPet
      responses:
        '201':
          description: created
  /pets/{id}:
    get:
      operationId: getPet
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: ok
